  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      {{!-- <a href="http://aws.amazon.com/what-is-cloud-computing"><img style="width: 90px; filter: opacity(80%);" src="http://awsmedia.s3.amazonaws.com/AWS_Logo_PoweredBy_127px.png" alt="Powered by AWS Cloud Computing"></a> --}}
      <a href="https://aws.amazon.com/what-is-cloud-computing"><img style="width: 90px;" src="https://d0.awsstatic.com/logos/powered-by-aws.png" alt="Powered by AWS Cloud Computing"></a>
    </div>
    <!-- Default to the left -->
    <strong>Derechos Reservados &copy; 2020-2021 <a href="#">Recalif</a>.</strong>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>

<!-- datatable -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<!-- toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>

<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>

{{#if registroCalificaciones}}
  <script src="/js/registro_calificaciones/calificaciones.js"></script>
{{/if}}

{{#if pantalla2 }}
  <script src="/js/registro_calificaciones/pantalla2.js"></script>
{{/if}}
</body>
</html>