  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->

    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
<!-- REQUIRED SCRIPTS -->


<!--AXIOS-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--CLOUDINARY-->
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>


<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>

{{#if registroCalificaciones}}
  <script src="../js/registro_calificaciones/calificaciones.js"></script>
{{/if}}

{{#if ticketsMensajes}}
  <script src="../js/md_ticket/tickets.js"></script>
{{/if}}
{{#if ticketsResponderMensajes}}
  <script src="../js/md_ticket/responder.js"></script>
{{/if}}
{{#if registroNuevoMensaje}}
  <script src="../js/md_ticket/mensajeNuevo.js"></script>
{{/if}}

{{#if ticketsmsjenviado}}
  <script src="../js/md_ticket/ticketsenviado.js"></script>
{{/if}}

{{#if   ticketsverenviado}}
  <script src="../js/md_ticket/verticketenviado.js"></script>
{{/if}}




</body>
</html>