:root {
   --black: #000;
   --white: #fff;
   --gray: #efefef;
   --gray-2: #757575;

   --facebook-color: #4267b2;
   --google-color: #db4437;
   --twitter-color: #1da1f2;
   --twitter-colors: #2f90ccf6;
   --insta-color: #e1306c;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   height: 100vh;
   overflow: hidden;
   font-weight: 400;
}

.container {
   position: relative;
   min-height: 100vh;
   overflow: hidden;
}

.row {
   display: flex;
   flex-wrap: wrap;
   height: 100vh;
}

.col {
   width: 50%;
   padding: 0 2rem;
}

.align-center {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.flex-col {
   flex-direction: column;
}

.form-wrapper {
   width: 100%;
   max-width: 28rem;
}

.form {
   padding: 1rem;
   background-color: var(--white);
   border-radius: 1.5rem;
   width: 100%;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
   transform: scale(0);
   transition: 0.5s ease-in-out;
   transition-delay: 1s;
}

.form-control {
   position: relative;
   width: 100%;
   margin-top: none;
   margin-bottom: 1.3rem;

   height: 50px;
   border: none;
   background-color: var(--gray);
   border-radius: 0.5rem;
   font-size: 1rem;
   text-decoration: double;
   color: var(--gray-2);
}

.form-control select {
   width: 100%;
   padding-left: 1rem;
   padding: 1rem 1rem;
   font-size: 1rem;
   background-color: var(--gray);
   border-radius: 0.5rem;
   border: 0.125rem solid var(--white);
   outline: none;
}

select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
   /* appearance: none; */
}

select::-ms-expand {
   display: none;
}

select:focus {
   outline-color: var(--twitter-color);
}

.input-group {
   position: relative;
   width: 100%;
   margin: 1rem 0;
}

.input-group i {
   position: absolute;
   top: 50%;
   left: 1rem;
   transform: translateY(-50%);
   font-size: 1.4rem;
   color: var(--gray-2);
}

.input-group input {
   width: 100%;
   padding: 1rem 3rem;
   font-size: 1rem;
   background-color: var(--gray);
   border-radius: 0.5rem;
   border: 0.125rem solid var(--white);
   outline: none;
}

.input-group input:focus {
   border: 0.125rem solid var(--twitter-color);
}

.form button {
   cursor: pointer;
   width: 100%;
   padding: 0.8rem 0;
   border-radius: 0.5rem;
   border: none;
   background-color: var(--twitter-color);
   color: var(--white);
   font-size: 1.2rem;
   outline: none;
}
.form button:hover {
   background-color: var(--twitter-colors);
   transition: 0.5s ease-in-out;
}

.form p {
   margin: 1rem 0;
   font-size: 0.9rem;
}

.form p b a {
   text-decoration: none;
   color: rgb(118, 118, 118);
}

.form p b a:hover {
   color: #1da1f2;
}

.container.sign-in .form.sign-in,
.container.sign-in .social-list.sign-in,
.container.sign-in .social-list.sign-in > div {
   transform: scale(1);
}

.content-row {
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: none;
   z-index: 6;
   width: 100%;
}

.text {
   position: absolute;
   margin: 4rem;
   color: var(--white);
   z-index: 500;
}

.text.sign-in {
   top: 0%;
   max-width: 50%;
}

.text h2 {
   font-size: 3.5rem;
   font-weight: 300;
   margin: 2rem;
   transition: 1s ease-in-out;
}

.text p {
   transition: 1s ease-in-out;
   transition-delay: 0.2s;
}

.text p b {
   transition: 1s ease-in-out;
   transition-delay: 0.2s;
   margin: 2rem;
}

.img img {
   position: absolute;
   transition: 1s ease-in-out;
   transition-delay: 0.4s;
   z-index: 100;
}

.img.sign-in img {
   width: 42vw;
   bottom: 0%;
}

.text.sign-in h2,
.text.sign-in p,
.img.sign-in img {
   transform: translateX(-250%);
}

.container.sign-in .text.sign-in h2,
.container.sign-in .text.sign-in p,
.container.sign-in .img.sign-in img {
   transform: translateX(0);
}

/* Background */

.container::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   height: 100vh;
   width: 300vw;
   transform: translate(35%, 0);
   background-image: linear-gradient(-45deg, var(--twitter-color) 0%, var(--facebook-color) 100%);
   transition: 1s ease-in-out;
   z-index: 6;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
   border-bottom-right-radius: max(50vw, 50vh);
   border-top-left-radius: max(50vw, 50vh);
}

.container.sign-in::before {
   transform: translate(0, 0);
   right: 50%;
}

b#sign-in {
   cursor: pointer;
}

@media only screen and (max-width: 996px) {
   .img.sign-in img {
      width: 37vw;
   }

   .text {
      margin: 0rem;
   }
}

@media only screen and (max-width: 567px) {
   .container::before,
   .container.sign-in::before {
      height: 100vh;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      z-index: 0;
      transform: none;
      right: 0;
   }

   .container.sign-in .col.sign-in {
      transform: translateY(0);
   }

   .content-row {
      align-items: center !important;
      height: 16vh;
   }

   .content-row .col {
      transform: translate(10%, 20%);
      background-color: unset;
      height: 20%;
      padding: 0;
   }

   .col {
      width: 100%;
      position: absolute;
      padding: 2rem;
      background-color: var(--white);
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      transform: translateY(100%);
      transition: 1s ease-in-out;
   }

   .row {
      align-items: flex-end;
      justify-content: flex-end;
   }

   .form,
   .text {
      margin: 0;
      width: 100%;
   }

   .text p {
      display: none;
   }

   .text h2 {
      font-size: 2.5rem;
   }

   .img {
      display: none;
   }

   .text.sign-in {
      left: 2%;
      max-width: 100%;
   }
}
