 <style>
   .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
 </style>
   <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> Ticket</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><a href="/mensajes">Tickets</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

            <!-- /.card -->
          <!-- /.col -->
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div id="titleTicket" = class="card-header">
              
            </div>
            <!-- /.card-header -->
            <div class="container"> 
                 <div class="card-body p-0">

              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message" id="messages">


              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer bg-white">
              <ul id="imagesTicket" class="mailbox-attachments d-flex align-items-stretch clearfix">
                <li>
                  <div id="img-preview">
                  
                  </div>
                </li>
              </ul>
              <div id="fecha-ticket" style="text-align: right;">
                
              </div>
                <div>
                  <button id="deleteT" type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
              </div>
            </div>
            
              
            </div>
             </section>