<div class="card card-info p-5">
            <div class="card-header">
              <h3 class="card-title">Cursos Asignados</h3>

              
            
            </div>
            <div class="card-body p-0">
              <table id="listacursosasignados" class="table">
                <thead>
                  <tr>
                    <th>Codigo del curso</th>
                    <th>Seccion</th>
                    <th>Facultad</th>
                    <th>Departamento</th>
                    <th>Clase</th>
                    <th>Jornada</th>
                    <th>Visualizar</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td>2</td>
                    <td>2000</td>
                    <td>Ciencias economicas</td>
                    <td>Informatica administrativa</td>
                    <td>Programacion 2</td>
                    <td>Vespertina</td>
                    <td class="text-right py-0 align-middle">
                      <div class="btn-group btn-group-sm">
                        <a href="/alumnosporseccion" class="btn btn-info"><i class="fas fa-eye"></i></a>
                      </div>
                    </td>
                  </tr><tr>
                </tr></tbody>
              </table>
            </div>
            <!-- /.card-body  -->


          </div>
