<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Programacion e implementacion de sistemas 2000</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active">Calificaciones</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Alumnos</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 320px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Busqueda por nombre o numero de cuenta">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table id="notas_alumnos" class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Numero de cuenta</th>
                                    <th>Nombre</th>
                                    <th>Parcial 1</th>
                                    <th>Parcial 2</th>
                                    <th>Parcial 3</th>
                                    <th>Nota</th>
                                    <th>Observacion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                     <td>20141005648</td>
                                    <td>Crescencio Cecilio Lopez Arellano</td>
                                    <td>78</td>
                                    <td>65</td>
                                    <td>63</td>
                                    <td>70</td>
                                    <td>Aprobó</td>
                                    <td>

                                        <a href="/calificaciones/alumnos/:clase" class="btn btn-warning">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                        <a href="/calificaciones/alumno/20142089786" class="btn btn-warning">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->