<div class="col">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Formulario</h2>
        </div>
        <div class="card-body">
            <form id="formularioPrueba">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" required minlength="4" />
                <label for="">edad</label>
                <input type="number" class="form-control" id="edad" name="edad" required />
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" required />
                <br>
                <input type="submit" class="btn btn-primary" value="Enviar">
            </form>
        </div>
    </div>
</div>