{{> head }}

{{> navbar }}

{{> sidebar }}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {{{ body }}}
  </div>
  <!-- /.content-wrapper -->

{{> sidebar-right }}

{{> footer }}
