{{> header-auth}}
<div class="container" id="container">
    <!-- Row -->
    <div class="row">
        <!-- Sign Up -->
        <div class="col align-center flex-col sign-up">
        </div>
        <!-- End Sign Up -->

        <!-- login -->
        <div class="col align-center flex-col sign-in">
            <div class="form-wrapper align-center">
                <form class="form sign-in formulario" id="formLogin">

                    <div class="input-group formulario__grupo" id="grupo__correo">
                        <i class="fas fa-envelope"></i>
                        <div class="formulario__grupo-input">
                            <input type="email" class="formulario__input" placeholder="Correo" name="correo" id="correo"
                                onfocus="myFunction()" required />

                        </div>
                        <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos,
                            guiones y guion bajo.</p>
                    </div>

                    <div class="input-group formulario__grupo" id="grupo__password">
                        <i class="fas fa-lock"></i>
                        <div class="formulario__grupo-inpu">
                            <input class="formulario__input" name="password" id="password" type="password"
                                placeholder="Contraseña" onfocus="myFunction()" required />
                        </div>
                        <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                    </div>

                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                            correctamente. </p>
                    </div>

                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn btnLimpiar">Iniciar Sesión</button>

                    </div>

                    <p>
                        <b><a href="recuperacion.html">Olvidaste tu contraseña?</a></b>
                    </p>

                </form>

            </div>

        </div>
        <!-- End login -->
    </div>
    <!-- End Row -->
    <!-- Content Section -->
    <div class="row content-row">
        <!-- login Content -->
        <div class="col align-items flex-col">
            <div class="text sign-in">
                <h2>Registro de <br> calificaciones</h2>

            </div>
            <div class="img sign-in">
                <img src="../img/bg1.svg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- End Container -->

{{!-- script validación--}}
{{> footer-auth}}