{{> header-auth}}
    <div class="container" id="container">
        <!-- Row -->
        <div class="row">
            <!-- Sign Up -->
            <div class="col align-center flex-col sign-up">
            </div>
            <!-- End Sign Up -->

            <!-- login -->
            <div class="col align-center flex-col sign-in">
                <div class="form-wrapper align-center">
                    <div class="form sign-in">
                        <div class="input-group">
                            <i class="bx bxs-user"></i>
                            <input type="text" placeholder="Usuario" />
                        </div>
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input type="password" placeholder="Contraseña" />
                        </div>
                        <button>Iniciar Sesión</button>
                        <p>
                            <b><a href="/auth/recuperacion">Olvidaste tu contraseña?</a></b>
                        </p>
                        <!-- <p>
                            <span> Aun no tienes cuenta? </span>
                            <b id="sign-up">Registrate aquí</b>
                        </p> -->
                    </div>
                </div>

            </div>
            <!-- End login -->
        </div>
        <!-- End Row -->
        <!-- Content Section -->
        <div class="row content-row">
            <!-- login Content -->
            <div class="col align-items flex-col">
                <div class="text sign-in">
                    <h2>Registro de <br> calificaciones UNAH</h2>
                    <p>
                        <!-- <b>Bienvenidos</b> -->
                    </p>
                </div>
                <div class="img sign-in">
                    <img src="../img/bg1.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->
{{> footer-auth}}