{{> header-auth}}
<!-- Container -->
<div class="container" id="container">
    <!-- Row -->
    <div class="row">
        <!-- Sign Up -->
        <div class="col align-center flex-col sign-up">
        </div>
        <!-- End Sign Up -->

        <!-- New password -->
        <div class="col align-center flex-col sign-in">
            <div class="form-wrapper align-center">
                <form class="form sign-in" id="formulario">

                    <div class="input-group formulario__grupo" id="grupo__password">
                        <i class="fas fa-lock"></i>
                        <div class="formulario__grupo-inpu">
                            <input class="formulario__input" name="password" id="password" type="password"
                                placeholder="Nueva contraseña" onkeyup="myFunction()" required />
                        </div>
                        <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                    </div>

                    <div class="input-group formulario__grupo" id="grupo__password2">
                        <i class="far fa-check-circle"></i>
                        <div class="formulario__grupo-input">
                            <input type="password" placeholder="Verificar Contraseña" class="formulario__input"
                                name="password2" id="password2" onkeyup="myFunction()" required />
                        </div>
                        <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                    </div>

                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                            correctamente. </p>
                    </div>

                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Guardar Contraseña</button>
                    </div>

                </form>
                <!-- End formulario -->
            </div>

        </div>
        <!-- End New password -->
    </div>
    <!-- End Row -->
    <!-- Content Section -->
    <div class="row content-row">
        <!-- New password Content -->
        <div class="col align-items flex-col">
            <div class="text sign-in">
                <h2>Nueva Contraseña</h2>
                <p>
                    <!-- <b>Bienvenidos</b> -->
                </p>
            </div>
            <div class="img sign-in">
                <img src="../img/newpassword.svg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- End Container -->

{{!-- Scripts validaciones --}}
<script src="../js/validacion_newpass.js"></script>
</body>

</html>
{{> footer-auth}}