{{> header-auth}}
    <!-- Container -->
    <div class="container" id="container">
        <!-- Row -->
        <div class="row">
            <!-- Sign Up -->
            <div class="col align-center flex-col sign-up">
            </div>
            <!-- End Sign Up -->

            <!-- New password -->
            <div class="col align-center flex-col sign-in">
                <div class="form-wrapper align-center">
                    <div class="form sign-in">
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Nueva Contrase単a" />
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Verificar Contrase単a" />
                        </div>


                        <button>Guardar Contrase単a</button>
                    </div>
                </div>

            </div>
            <!-- End New password -->
        </div>
        <!-- End Row -->
        <!-- Content Section -->
        <div class="row content-row">
            <!-- New password Content -->
            <div class="col align-items flex-col">
                <div class="text sign-in">
                    <h2>Nueva Contrase単a</h2>
                    <p>
                        <!-- <b>Bienvenidos</b> -->
                    </p>
                </div>
                <div class="img sign-in">
                    <img src="../img/newpassword.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- End Container -->

    <!-- Script -->
    <script src="./js/login.js"></script>
</body>

</html>
{{> footer-auth}}