{{> header-auth}}
<!-- Container -->
<div class="container" id="container">
    <!-- Row -->
    <div class="row">
        <!-- Sign Up -->
        <div class="col align-center flex-col sign-up">
        </div>
        <!-- End Sign Up -->

        <!-- Recuperación -->
        <div class="col align-center flex-col sign-in">
            <div class="form-wrapper align-center">
                <div class="form sign-in">
                    <div class="input-group">
                        <i class="bx bx-mail-send"></i>
                        <input type="email" placeholder="Correo" />
                    </div>
                    <select name="rol" required class="form-control input-group">
                        <option value="" selected disabled hidden> - Elija una pregunta -</option>
                        <option value="Pregunta 1">Pregunta 1</option>
                        <option value="Pregunta 2">Pregunta 2</option>
                        <option value="Pregunta 3">Pregunta 3</option>
                    </select>
                    <div class="input-group">
                        <i class='bx bxs-book-content'></i>
                        <input type="text" placeholder="Respuesta" />
                    </div>
                    <button>Enviar</button>
                    <p>
                        <span> Deseas iniciar sesión? </span>
                        <b id="sign-up"><a href="/auth/login">Iniciar sesión aquí</a></b>
                    </p>
                </div>
            </div>

        </div>
        <!-- End Recuperación -->
    </div>
    <!-- End Row -->
    <!-- Content Section -->
    <div class="row content-row">
        <!-- Recuperación Content -->
        <div class="col align-items flex-col">
            <div class="text sign-in">
                <h2>Olvidaste tu contraseña?</h2>
                {{!-- <p>
                    <b>Recuperala aquí</b>
                </p> --}}
            </div>
            <div class="img sign-in">
                <img src="../img/security.svg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- End Container -->
{{> footer-auth}}