{{> header-auth}}
<!-- Container -->
<div class="container" id="container">
    <!-- Row -->
    <div class="row">
        <!-- Sign Up -->
        <div class="col align-center flex-col sign-up">
        </div>
        <!-- End Sign Up -->

        <!-- Recuperación -->
        <div class="col align-center flex-col sign-in">
            <div class="form-wrapper align-center">
                <form class="form sign-in formulario" id="formulario">

                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Recuperar via correo electrónico</button>
                    </div>
                    <br>
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Recuperar via preguntas secretas</button>
                    </div>

                    <p>
                        <b id="sign-up"><a href="login.html">Regresar al login</a></b>
                    </p>
                </form>
                <!-- End form -->
            </div>

        </div>
        <!-- End Recuperación -->
    </div>
    <!-- End Row -->
    <!-- Content Section -->
    <div class="row content-row">
        <!-- Recuperación Content -->
        <div class="col align-items flex-col">
            <div class="text sign-in">
                <h2>Olvidaste tu contraseña?</h2>
            </div>
            <div class="img sign-in">
                <img src="../img/security.svg" alt="" />
            </div>
        </div>
    </div>
</div>
<!-- End Container -->
{{> footer-auth}}