<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Sistema de Calificaciones</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active">Datos Personas</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!-- Content Header (Page header) -->


    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-light" role="alert">
              <BR>
              <h1 style="font-size: 3rem;" class="title">Danos personas</h1>
              <BR>
                <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
               
              </div>
              <!-- /.card-header -->
              <div class="card-body">
             
             <table id="listaDatospersonas" class="table table-striped table-bordered table-condensed table-hover">
                         <thead>
                            <th>Id</th>
                            <th>Nombre</th>
                             <th>Rol</th>
                            <th>Usuario</th>
                             <th>correo</th>
                            <th>Numero tenefono</th>
                            
                          </thead>
                          <tbody>                            
                          
                          <tbody>                            
                          </tbody>
                          <tfoot>
                           <th>Id</th>
                            <th>Nombre</th>
                             <th>Rol</th>
                            <th>Usuario</th>
                             <th>correo</th>
                            <th>Numero tenefono</th>
                            
                          </tfoot>
                        </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

        
    </section>
            <BR><BR>
            </div>
          </div>
        
      
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->



    <!-- /.content -->